<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CIM account number: {{cim_number}}</h1>
<h2>Open date: {{open_date}}</h2>
<h2>Funded date: {{funded_date}}, Funded amount: {{funded_amount}}</h2>
<p>Fees checked: {{fees}}</p>
<p>Is Restriction Letter sent: {{letter_sent}}</p>
<p>Asset allocation / Business Guidelines / CIM System Added: {{cr_aa_bg_system}}</p>
<p>Client Restrictions Added: {{cr_client_restriction}}</p>
<p>Substantial Affiliation Added: {{cr_sa}}</p>
<p>Comment: {{comment}}</p>
<p>Maker: {{maker}} Maker date: {{post_maker_date}}</p>
<p>Checker: {{post_checker}} Checker date: {{post_checker_date}}</p>
</body>
</html>