<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
{% include 'header.html' %}
<div class="container">

    <table class="table table-bordered">
      <thead>
        <tr class="table-info">
          <th scope="col">CIM</th>
          <th scope="col">Change Type</th>
          <th scope="col">Change Date</th>
          <th scope="col">Maker Review</th>
          <th scope="col">Checker Review</th>
        </tr>
      </thead>
        {% for c in change %}
        <tr>
            <td>{{c.cim_number}}</td>
            <td>{{c.change.get_change_name_display}}</td>
            <td>{{c.change.change_date}}</td>
            <td><a class="btn btn-primary" href="/changes_maker_review/{{c.id}}/">Maker Review</a></td>
            <td><a class="btn btn-secondary" href="/changes_checker_review/{{c.id}}/">Checker Review</a></td>
        </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>