<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
{% include 'header.html' %}
<div class="container">
    {{cim}}
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}<br>
        <input type="submit" VALUE="Update CIM" class="btn btn-primary">
    </form>
    <p></p>
    <a href="/update_closing_CIM/{{cim.id}}/" class="btn btn-warning">Update closing details</a>
    <a href="/update_funded_CIM/{{cim.id}}/" class="btn btn-warning">Update funding details</a>

</div>
</body>
</html>