<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
{% include 'header.html' %}
{% load bootstrap %}
<div class="container">
    <div class="col-md-6">
    {% if msg %}
    <h1 style="color: coral">{{msg}}</h1>
    <p><a href='/post_list/'>Post acceptance list</a></p>
    {% else %}
    <div class="p-2 bg-primary text-white">CIM {{cim}}</div>
    <table class="table table-bordered">
      <thead>
        <tr class="table-info">
          <th scope="col">Funded Date</th>
          <th scope="col">Funded Amount</th>
          <th scope="col">Update Details</th>
        </tr>
      </thead>
        <tr>
            <td>{{cim.funded_date}}</td>
            <td>{{cim.funded_amount}}</td>
            <td><a class="btn btn-primary" href='/update_funded_CIM/{{cim.id}}/'>Update funding details</a></td>
        </tr>
    </table>
        <table class="table table-bordered">
      <thead>
        <tr class="table-info">
          <th scope="col">Client restrictions</th>
        </tr>
            <tr>
                <td>{{cim.client_restrictions}}</td>
            </tr>
      </thead>
        </table>

        <table class="table table-bordered">
          <thead>
            <tr class="table-info">
              <th scope="col">Special restrictions</th>
            </tr>
          </thead>
            {% for i in cim.special_templates.all %}
            <tr>
                <td>{{i}}</td>
            </tr>
            {% endfor %}
        </table>
        <div><a class="btn btn-warning" href="/update_CIM/{{cim.id}}/">Update CIM restrictions / Details</a></div>
        <p></p>
    <form method="post">
        {% csrf_token %}
        {{form|bootstrap}}<br>
        <input class="btn btn-primary" type="submit" VALUE='VALIDATE MAKER RESULTS'>
    </form>
    {% endif%}
 </div>
</div>
</body>
</html>