<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if msg %}
    <h1 style="color: coral">{{msg}}</h1>
    <p><a href='/post_list/'>Post acceptance list</a></p>
    {% else %}

    {{cim}}, {{cim.funded_date}}, {{cim.funded_amount}} <a href='/update_funded_CIM/{{cim.id}}/'>Update funding details</a>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}<br>
        <input type="submit" VALUE="OK">
    </form>
    {% endif%}
</body>
</html>