<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
{% include 'header.html' %}

<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr class="table-info">
          <th scope="col">CIM</th>
          <th scope="col">Date Open</th>
          <th scope="col">Maker date</th>
          <th scope="col">Days since acc open / funded</th>
          <th scope="col">Maker Review</th>
          <th scope="col">Checker Review</th>
        </tr>
      </thead>
        {% for c in post %}
        <tr>
            <td>{{c.cim_number}}</td>
            <td>{{c.cim_number.open_date}}</td>
            <td>{{c.post_maker_date}}</td>
            <td class="table-danger mx-auto">{{ c.number_post_days}}</td>
            <td><a class="btn btn-primary" href='/post_maker_checklist/{{c.id}}/'>Maker review</a></td>
            <td><a class='btn btn-secondary'href='/post_checker_checklist/{{c.id}}/'>Checker review</a></td>
        </tr>
        {% endfor %}
     </table>


</div>
</body>
</body>
</html>