<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
{% include 'header.html' %}
{% load bootstrap %}
<div class="container">
    <div class="col-md-4">
    {% if msg1 %}
    <h1 style="color: coral">{{msg1}}</h1>
    <p><a href='/pre_review_list/'>Pre acceptance list</a></p>
    {% else %}
        <span class="d-block p-2 bg-warning">{{pre.cim_number}}</span>

    <form method="post">
        {% csrf_token %}
        {{form|bootstrap}}<br>
        <input class="btn btn-primary" type="submit" VALUE="VALIDATE REVIEW">
    </form>

    {% endif %}
    </div>
</div>
</body>
</html>