<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}

    <meta charset="UTF-8">
    <title>BRC_DB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link href="/static/css/style.css" rel="stylesheet" />
    {% endblock%}

</head>
<body>

{% include 'header.html' %}
{% load bootstrap %}

    <div class="container">
  <div class="row">
    <div class="col-sm p-3 mb-2 bg-secondary text-white">
      List of opened accounts:
        <table>
        </table>
    </div>
    <div class="col-sm p-3 mb-2 bg-secondary text-white">
      List of pre acceptance reviews:
    </div>
    <div class="col-sm p-3 mb-2 bg-secondary text-white">
      List of post acceptance reviews:
    </div>
  </div>
        <div class="row">
            <div class="col-sm">
                <table>
                    <thead>
                        <tr>
                            <td>CIM</td>
                            <td>CIM Update</td>
                        </tr>
                        {% for a in acc %}
                        <tr>
                            <td><a href="/cim_details/{{a.cim_number}}/">{{a.cim_number}}</a></td>
                            <td><a href="/update_CIM/{{a.id}}/" class="btn btn-success">Update CIM</a></td>

                        </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
            <div class="col-sm">
                <table>
                    <thead>
                    <tr>
                        <td>CIM</td>
                        <td>Maker</td>
                        <td>Checker</td>
                    </tr>
                    </thead>
                    {% for pr in pres %}
                        <tr>
                            <td><a href="/cim_details/{{pr.cim_number}}/" style='color: brown'>{{pr.cim_number}}</a></td>
                            <td><a href="pre_maker_checklist/{{pr.id}}" class="btn btn-secondary">Maker Review</a></td>
                            <td><a href="pre_checker_checklist/{{pr.id}}" class="btn btn-secondary">Checker Review</a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
            <div class="col-sm">
                <table>
                    <tr>
                        <td>CIM</td>
                        <td>No of days</td>
                        <td>Maker</td>
                        <td>Checker</td>
                    </tr>
                    {% for p in pars %}
                        <tr>
                            <td><a href="/cim_details/{{p.cim_number}}/" class="td_par_base">{{p.cim_number}}</a></td>
                        <td class="td_par_base_par_days" style="">{{p.number_post_days}}</td>
                        <td><a href="/post_maker_checklist/{{p.id}}/" class="btn btn-primary">Maker rev</a></td>
                        <td><a href="/post_checker_checklist/{{p.id}}/" class="btn btn-primary">Checker rev</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
</div>


</body>
</html>