    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/post_list/">List of PARs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pre_review_list/">List of PRE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
   <li class="nav-item">
     {% if request.user.is_authenticated %}
     <a class="nav-link" href="/logout">{{ request.user.username }} (Logout)</a>
     {% else %}
     <a class="nav-link" href="/login">Login</a>
     {% endif %}
  </li>
</ul>